<a href="https://colab.research.google.com/github/MykoChan123/BSIS2-DV-LAB9-MYKO/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples 1

In [6]:
z = (1, 22, 8, 10)
print(z)
z = 1, 22, 8, 10
print(z)

(1, 22, 8, 10)
(1, 22, 8, 10)

Tuples 2

In [7]:
tup1 = ('Myko',)
tup2 = 'Myko', 
notTuple = ('Myko')
print(type(notTuple) )

<class 'str'>

Tuples 3

In [8]:


z = ("andrewtate", 22, 8, 10)
print(z[0])

andrewtate

Tuples 4

In [9]:
z = (1, 22, 8, "Andrewtate")
print(z[-1])

Andrewtate

Tuples 5

In [11]:

z = ("Andrewtate", "Myko", 8, 10)
print(z[0:2])

('Andrewtate', 'Myko')

Tuples 6

In [12]:

z = ("OO", "Pogi", "Myko", 10)
print(z[:3])

('OO', 'Pogi', 'Myko')

Tuples 7

In [14]:
z = (1, 22, "Myko", "myko")
print(z[-4:-1])

(1, 22, 'Myko')

Tuples 8

In [15]:
tup1 = ('Python', 'SQL')

tup2 = ('R',)

new_tuple = tup1 + tup2;
print(new_tuple)

('Python', 'SQL', 'R')

Tuples 9

In [16]:
a, b, c, d = (1, 22, 8, 10)
print(a)
print(b)
print(c)
print(d)

1
22
8
10

Tuples 11

In [17]:
Guns = ('Shotgun', 'Granade', 'Smoke', 'GLOCK 20', 'AK-47')
for index, Guns in enumerate(Guns):
 print(index,Guns)

0 Shotgun
1 Granade
2 Smoke
3 GLOCK 20
4 AK-47

Tuples 13

In [21]:
animals = ("Ivan", "Mat", "Rannel")
print(animals.index('Mat'))

1

Tuples 14

In [24]:
import timeit 
print(timeit.timeit('x=(1,2,3,4,5,6,7,8,9,10,11,12)', number=1000))
print(timeit.timeit('x=[1,2,3,4,5,6,7,8,9,10,11,12]', number=1))

2.4295000002894085e-05
9.650000265537528e-07